  /*Контакты заголовка*/
.contact-list {
    display: none;
}

  /*.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}*/

.header__contact__link {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
   color: var(--text-color);
   transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.header__icon__envelope {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    cursor: pointer;
    fill: currentcolor;
    }
    
.header__icon__phone {
    width: 10px;
    height: 16px;
    fill: currentcolor;
    cursor: pointer;
    margin-right: 10px;
}

.contact-item {
display: inline;
}
    
.contact-item:not(:last-child) {
    margin-right: 50px;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .contact-list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .contact-list {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .header__contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .header__contact__item + .contact-item {
        margin-left: 50px;
    }
}


 

