///320+
.desc__list__item {
    width: 100%;
    margin-top: 30px;
}
.desc__list__item:not(:last-child) {
    margin-bottom: 30px;
}

.desc__list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--icon-background-color);
    margin-bottom: 30px;
    min-height: 120px;
}

.desc__list__title {
font-size: 14px;
font-weight: 700;
line-height: 1.16;
text-transform: uppercase;
text-align: center;
color: var(--secondary-color);
margin-bottom: 10px;
}

.desc__list__suptitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
//480+

@media screen and (min-width: 480px) {
    .desc__list__item {
        width: calc((100% - 60px) / 2);
    }
    .desc__list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        margin-left: -30px;
        margin-top: -30px;
    }
}
//1200+
@media screen and (min-width: 1200px) {
    .desc__list {
        flex-wrap: nowrap;
    }
    .desc__list__title {
        text-align: start;
    }
}
//.desc {
//padding-top: 94px;
//padding-bottom: 47px;
//}

//.container .desc__list {
//    display: flex;
//    flex-wrap: wrap;
//    padding-bottom: 0;
//}

//@media screen and (min-width: 768px) {
//    .container .desc__list {
//    margin-top: -30px;
//    margin-left: -30px;
//    }
//}

//@media screen and (min-width: 1200px) {
//    .container .desc__list {
//    margin-top: -30px;
//    margin-left: -30px;
//    }
//}

//.desc__list__item {
//    width: 100%;
//}

//.desc__list__item:not(:last-child) {
 //   margin-bottom: 30px;
//}

//@media screen and (min-width: 768px) {
 //   .desc__list__item {
//    width: calc((100% - 60px) / 2);
//    margin-top: 30px;
//    margin-left: 30px;
//    }
//}

//@media screen and (min-width: 1200px) {
//    .desc__list__item {
//    width: calc((100% - 120px) / 4);
//    margin-top: 30px;
//    margin-left: 30px;
//    }
//}

//.desc__list__icon {
//    display: flex;
 //   align-items: center;
//    justify-content: center;
 //   width: 100%;
 //   height: 120px;
//    border-radius: 4px;
//    margin-bottom: 30px;
//    background-color: var(--icon-background-color);
//}

//.desc__list__title {
//    font-size: 14px;
//    font-weight: 700;
//    line-height: 1.15;
//    text-transform: uppercase;
//    text-align: center;
//    color: var(--secondary-color);
//    margin-bottom: 10px;
//}

//media screen and (min-width: 768px) {
 //   .desc__list__title {
 //       text-align: start;
 //   }
//}

//@media screen and (min-width: 768px) {
//    .desc__list__title {
//        text-align: start;
//    }
//}

/*.desc__list {
display: flex;
padding-bottom: 0;
margin-left: -30px;
margin-top: -30px;
}

.desc__list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: var(--icon-background-color);
}
.desc__list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 10px;
  }
@media screen and (min-width: 768px) {
    .desc__list__title {
        text-align: start;   
    }
}

.desc__list__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 0; 
}

.desc__list__suptitle {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: block;

}*/
      
    