.logo {
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 24px;
   line-height: 1.16;
   letter-spacing: 0.03em;
   color: var(--secondary-color); 
   display: inline-block;
 }

 .logo__header {
  color: var(--text-color-full-black);
  padding-top: 16px;
  padding-bottom: 16px;
 }

 @media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 93px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
 }

 .logo__item {
   color: var(--accent-color);
 }
 
 .logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  display: inline-block;
 }
