.logo {
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--secondary-color); 
   display: inline-block;
   margin-right: 70px;
 }

 .logo__header {
  /*color: var(--text-color-full-black);
  padding-top: 16px;
  padding-bottom: 16px;*/
   color: var(--secondary-color);
   margin-right: 93px;
   padding-top: 24px;
   padding-bottom: 25px;
 }

/* @media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}*/

 .logo__item {
   color: var(--accent-color);
 }
 
