@media screen and (max-width: 1199px) {
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
}
.portfolio__list {
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -30px;
    margin-left: -30px;
    justify-content: center;
  }
  
  .portfolio__item {
    margin-top: 30px;
    margin-left: 30px;
    &:hover, 
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .portfolio__list__item {
    display: block;
    width: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    transform: translatey(0);
    }
  }
//768+
@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 100%;
  }
}
  .portfolio__content__item__card {
    padding: 20px 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
  }
  
//   .portfolio__content__item__card {
//     position: relative;
//     overflow: hidden;
//   }
  
  .portfolio__list__wrapper {
    position: relative;
    overflow: hidden;
  }
.portfolio__list__wrapper__card {
  background-size: cover;
}

  @media screen and (min-width: 320px) {
    .portfolio__list__wrapper__card {
      width: 100%;
    }
  }
  .overlay-portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 63px 24px;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;
    // font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
     /* or 156% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: translateY(100%);
}
 .portfolio__list__item:hover .overlay-portfolio,
 .portfolio__list__item:focus .overlay-portfolio {
 transform: translateY(0%);
 }

//768+
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list__item {
    width: calc((768px - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list__wrapper__card {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__content__item__card {
    min-height: 146px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item:last-child {
    display: block;
    margin-top: 30px;
    margin-right: auto;
  }
}
//1200+
@media screen and (min-width: 1200px) {
  .portfolio__list__item {
    width: calc((1200px - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list__wrapper__card {
    width: 370px;
  }
}

// @media screen and (min-width: 1200px) {
//   .portfolio__item:last-child {
//     margin-top: -30px;
//   }
// }