.social__list {
  display: flex;
  justify-content: center;
}

.social__list__icon {
    width: 20px;
    height: 20px;
  }
  
  .social__list__item {
    border-radius: 50%;
  }
  
  .social__list__item:not(:last-child) {
    margin-right: 10px;
  }

  .social__list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    fill: #afb1b8;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: var(--accent-color);
    fill: var(--text-decoration-color);
}
}

.mobile-menu__social {
  display: flex;
    flex-wrap: wrap;
    font-size: 34px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 478px) {
  .mobile-menu__social {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 478px) {
  .mobile-menu__social::before {
    content: '';
    position: absolute;
    top: 56%;
    left: 36%;
    transform: rotatez(90deg);
    height: 2px;
    width: 30%;
    background-color: rgba(33,33,33,0.2);
  }
}

.mobile-menu__social__list {
  width: calc((100% - 20px) / 2);
    text-align: center;
}

@media screen and (min-width: 480px) {
  .mobile-menu__social__list {
    width: auto;
}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu__social__list {
    font-size: 0;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33,33,33,0.2);
  }
}

.mobile-menu__social__item {
  display: inline-block;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 478px) {
  .mobile-menu__social:after{
    content: '';
    position: absolute;
    top: 56%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(33,33,33,0.2);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu__social__list:not(:last-child) {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
}