.social__list__icon {
    width: 20px;
    height: 20px;
  }
  
  .social__list {
    justify-content: center;
    display: flex;
  }
  
  .social__list__item:not(:last-child) {
    margin-right: 10px;
  }

  .social__list__item {
    border-radius: 50%;
  }
  
  .social__list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    fill: #afb1b8;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: var(--accent-color);
    fill: var(--text-decoration-color);
}
}
