:root {
    --main-font: 'Roboto', sans-serif; 
    --secondary-font:'Raleway', sans-serif;
    --accent-color: #2196F3; 
    --secondary-color: #212121;
    --hero-background-color: #2F303A;
    --text-color: #757575;
    --text-decoration-color: #FFFFFF;
    --hero-button-color: #ECECEC;
}